
.parent_service_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top{
    margin-top:10px;
}

@media(max-width:767px){
    .card-title{
        font-size: 12px;
    }
    .card-text{
        font-size: 12px;
    }
    .responsive_button{
        font-size:12px;
    }
}